



    .service-edit-name {
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 50%;
    }

    .service-edit-price {
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 20%;
        margin-left: 10px;
    }
